<template>
  <div class="activity">
    <ul>
      <li v-for="activity in activities">
        <span>{{activity.actor.login}}</span>
        <span>{{activity.repo.name}}</span>
        <span>{{activity.created_at | data}}</span>

      </li>
    </ul>
  </div>
</template>

<script type="text/babel">

  import moment from 'moment';

  export default {
  computed: {
    activities() {
      return this.$store.state.activity;
    }
  },
  filters: {
    data(value){
      if (!value) {
        return 'N/A'
      }
      return moment(value, 'YYYY-MM-DD').format('ll');
    }
  }
}
</script>

<style scoped>
  ul{
    margin: 20px 0 0 0;
    padding: 0;
  }
  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
</style>