<template>
  <div class="respositories">
    <ul>
      <li v-for="repo in repos">
        <a class="repository-link" :href="repo.html_url">
          {{repo.name}}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>


export default {
  name: 'repositiories',
  computed: {
    repos() {
       return this.$store.state.repositories;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

li {
  display: inline-block;
  margin: 0 10px;
  width: 100%;
}

a {
  color: #42b983;
  width: 100%;
  text-decoration: none;
}

</style>
