<template>
  <div class="welcome">
    <h1>Its your global repositories manager</h1>
    <div class="welcome-getter" v-if="ready">
      <p>Now u check your repos!</p>
    </div>
    <div class="welcome-getter" v-else>
      <p>Write name of user and get repositories and activity <i>(for example vuejs-tips)</i></p>
      <form action="POST" @submit.prevent="getAllData">
        <input type="text" id="user-name">
        <button type="submit">get repo</button>
      </form>
    </div>
  </div>
</template>

<script type="text/babel">
  export default {
    name: 'welcome',
    data() {
      return {
        ready: false
      }
    },
    methods: {
      getAllData () {
        const user = document.getElementById('user-name').value;
        this.$store.dispatch('getRepositiories', user);
        this.$store.dispatch('getActivity', user);
        this.ready = true;
      }
    }
  }
</script>

<style scoped>
  h1{
    margin: 40px  0 0 0;
  }

  .welcome-getter input{
    border: 1px solid #20ac8c;
    padding: 10px;
    border-radius: 17px;
  }

  .welcome-getter button{
    background: #20ac8c;
    padding: 10px;
    color: white;
    font-size: 14px;
    line-height: 1;
    border: none;
    border-radius: 17px;
  }

</style>