<template>
  <div id="app">
    <nav>
      <router-link class="nav-link" to="/">Home</router-link>
      <router-link class="nav-link" to="/repositories">Repositories</router-link>
      <router-link class="nav-link" to="/activity">Acitivity</router-link>
    </nav>

    <router-view class="app-container"></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
  body{
    background: #20ac8c;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
  .nav-link{
    color: white;
    background: black;
    border-radius: 21px;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 10px 10px -6px rgba(0,0,0,0.2);
  }
  nav{
    margin-bottom: -15px;
  }

  .app-container{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 10px 10px -6px rgba(0,0,0,0.4);
  }
</style>
